---
import BaseLayout from "../layouts/BaseLayout.astro";
import Sidebar from "../components/Sidebar.astro";
---

<BaseLayout title="Mi Portafolio">
  <main>
    <Sidebar />

    <div class="main-content">
      <h2>Hola, soy Astro 🚀</h2>
      <p>Aquí puedes empezar a migrar tus secciones About, Resume, Portfolio, etc.</p>
    </div>
  </main>
</BaseLayout>
