---
import Description from './Description.astro';
import Technologies from './Technologies.astro';
import Services from './Services.astro';
import Timeline from './Timeline.astro';
import Skills from './Skills.astro';


const {   
  education = [
    { title: "Universidad Nacional de Chimborazo", period: " Nov. 2020 - Jun. 2025", description: "Ingeniería en Tecnologías de la Información" },
    { title: "Certificación AZURE AZ-900", period: "Jun. 2024", description: "Número de Certificación: 535562-6U5E31" }
  ],
  experience = [
    { title: "Desarrollador - Proyecto Personal", period: "Present", description: "Desarrollo de proyectos backend: REST APIs, JWT, MySQL, MongoDB" },
    { title: "Desarrollador - Unreal Engine Ecuador", period: "Dic. 2023 - May. 2025", description: "Participé en el desarrollo de aplicativos innovadores que combinan tecnologías como el modelado 3D, gamificación de escenarios, sistemas de inteligencia artificial (chatbot, sistema experto, árboles de comportamiento), Unreal Engine y realidad virtual. Entre ellos se destaca la reconstrucción de escenarios para visitas a museos virtuales y videojuegos en dos y tres dimensiones con Unreal Engine." },
    { title: "Auditor interno - Universidad Nacional de Chimborazo", period: "2Nov. 2024 - Nov. 2024", description: "Actué como auditor interno en los procesos de autoevaluación institucional y de carreras,contribuyendo significativamente al aseguramiento de la calidad y mejora continua de la UNACH, mediante el análisis, elaboración de informes con fortalezas, debilidades y oportunidades de mejora, y la formulación de un plan de acción para el fortalecimiento institucional." },
    { title: "Desarrolador - Carrera de Ingeniería en Ciencia de Datos e Inteligencia Artificial- Universidad Nacional de Chimborazo", period: "Oct. 2024 - Feb. 2025", description: "Actué como auditor interno en los procesos de autoevaluación institucional y de carreras,contribuyendo significativamente al aseguramiento de la calidad y mejora continua de la UNACH, mediante el análisis, elaboración de informes con fortalezas, debilidades y oportunidades de mejora, y la formulación de un plan de acción para el fortalecimiento institucional." },
    { title: " Auditor informático - SYSTEMarket", period: "Oct. 2024 - Feb. 2025", description: " Participé en la ejecución del estudio inicial, planificación, análisis del entorno operativo y elaboración del informe de auditoría, contribuyendo a la evaluación integral del sistema informático de la empresa." },
    { title: " Desarrolador - Carrera de Ingeniería Civil - Universidad Nacional de Chimborazo", period: "Oct. 2024 - Feb. 2025", description: " Lideré el desarrollo de un sistena de registro de obras y/o construcciones utilizando Laravel, React y Tailwind. Desarrollé módulos personalizados para la gestión de distintos tipos de construcción unidades de medida, registro de archivos multimedia, entre otros; conforme con los requerimientos." },
  ]  
} = Astro.props;
---

<article class="about active" data-page="about">

  <header>
    <h2 class="h2 article-title">Acerca de mí</h2>
  </header>

  <Description/>
  <Technologies />
  <Services />
  <Timeline title="Experiencia" items={experience} />
  <Timeline title="Educación" items={education} />
  <Skills />

</article>

<script type="module" src="/assets/js/About.js"></script>