---
import Description from './Description.astro';
import Technologies from './Technologies.astro';
import Services from './Services.astro';
import Timeline from './Timeline.astro';
import Skills from './Skills.astro';


const {   
  education = [
    { title: "Universidad Nacional de Chimborazo", period: " Nov. 2020 - Jun. 2025", description: "Ingeniería en Tecnologías de la Información" },
    { title: "Certificación AZURE AZ-900", period: "Jun. 2024", description: "Número de Certificación: 535562-6U5E31" }
  ],
  experience = [
    { title: "Creative director", period: "2015 — Present", description: "Nemo enim ipsam voluptatem blanditiis praesentium voluptum delenit atque corrupti." },
    { title: "Art director", period: "2013 — 2015", description: "Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti." },
    { title: "Web designer", period: "2010 — 2013", description: "Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti." }
  ]  
} = Astro.props;
---

<article class="about active" data-page="about">

  <header>
    <h2 class="h2 article-title">Acerca de mí</h2>
  </header>

  <Description/>
  <Technologies />
  <Services />
  <Timeline title="Experiencia" items={experience} />
  <Timeline title="Educación" items={education} />
  <Skills />

</article>

<script type="module" src="/assets/js/About.js"></script>