---
const {
  mapSrc = "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d25216.55863043134!2d-78.66941439999998!3d-1.671167999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sbd!4v1757282381436!5m2!1sen!2sbd"
} = Astro.props;
---


<article class="contact" data-page="contact">

  <header>
    <h2 class="h2 article-title">Contacto</h2>
  </header>
  
  <section class="contact-form">
    <h3 class="h3 form-title">Contáctame</h3>
    <form 
    action="https://formspree.io/f/mnqwwvza" 
    method="POST"
    enctype="text/plain"
    class="form" 
    data-form>
      <div class="input-wrapper">
        <input type="text" name="fullname" class="form-input" placeholder="Full name" required data-form-input />
        <input type="email" name="email" class="form-input" placeholder="Email address" required data-form-input />
      </div>
      <textarea name="message" class="form-input" placeholder="Your Message" required data-form-input></textarea>
      <button class="form-btn" type="submit" disabled data-form-btn>
        <ion-icon name="paper-plane"></ion-icon>
        <span>Send Message</span>
      </button>
    </form>
  </section>  
  
  <h3 class="h3 form-title">Localidad</h3>
  <section class="mapbox" data-mapbox>

    <figure>
      <iframe src={mapSrc} width="400" height="300" loading="lazy"></iframe>
    </figure>
  </section>
  
  

</article>

<script type="module" src="/assets/js/Contact.js"></script>
