---
const { description = [
    "Ingeniero en Tecnologías de la Información con conocimientos en el desarrollo de software de distinto tipo con énfasis en recorridos virtuales con Unreal Engine, videojuegos IA y desarrollo fullstack de aplicaciones.",
    " Cuento con experiencia en la aplicación de metodologías ágiles para el desarrollo de proyectos; ejecución de auditoría informática y auditoría interna; y como ponente en jornadas de capacitación a estudiantes universtarios. Me caracterizo por mi capacidad para adaptarme a desafíos tecnológicos, búsqueda  de soluciones orientadas al negocio y mi disposición al aprendizaje continuo. "
  ] } = Astro.props;
---

<section class="about-text">
  {description.map(text => <p>{text}</p>)}
</section>