---
---

<nav class="navbar" client:load>
  <ul class="navbar-list">
    <li class="navbar-item">
      <button class="navbar-link" data-nav-link>About</button>
    </li>
    <li class="navbar-item">
      <button class="navbar-link" data-nav-link>Portfolio</button>
    </li>
    <li class="navbar-item">
      <button class="navbar-link" data-nav-link>Contact</button>
    </li>
  </ul>
</nav>

<script type="module" src="/assets/js/Navbar.js"></script>

