<aside class="sidebar" data-sidebar>
  <div class="sidebar-info">
    <figure class="avatar-box">
      <img src="/assets/images/my-avatar.png" alt="Richard Hanrick" width="80" />
    </figure>

    <div class="info-content">
      <h1 class="name">Richard Hanrick</h1>
      <p class="title">Web Developer</p>
    </div>

    <button class="info_more-btn" data-sidebar-btn>
      <span>Show Contacts</span>
      <ion-icon name="chevron-down"></ion-icon>
    </button>
  </div>
</aside>
